{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">RESEÑA</h1>
{% endblock %}
{% block libreria %}

<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="{% url 'resenia_nueva' %}"><h5 style="text-align:right">Presione aqui para dejar su reseña</h5></a></li>
</ul>

<h3 style="text-align:center">RESEÑAS CRITICAS</h3>

<ul>
    {% for Resenia in object_list %}
        <li>Libro:{{ Resenia.nombre_libro }} 
            Puntaje:{{ Resenia.puntaje }}
            Reseña:{{ Resenia.resenia }}</li> 
        <br>
        
    {% endfor %}



</ul>


{% endblock %}


