{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">RESEÑA</h1>
{% endblock %}
{% block libreria %}



<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="{% url 'resenia_nueva' %}"><h5 style="text-align:right">Dejar su reseña aqui</h5></a></li>
</ul>

<h3 style="text-align:center">RESEÑAS CRITICAS</h3>

<ul>
    {% for Resenia in object_list %}
        <li>
            <p>
            Libro:{{ Resenia.nombre_libro }} |
            Puntaje:{{ Resenia.puntaje }} |
            Reseña:{{ Resenia.reseña }} |
            Usuario:{{ Resenia.user}}
            </p>
            <p>
            <a href="{% url 'resenia_edit' Resenia.id %}"> Editar</a> |
            <a href="{% url 'resenia_borrar' Resenia.id %}"> Borrar</a>
            </p>
        </li>
        <br>

        
        
    {% endfor %}
</ul>

{% endblock %}