{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">BUSQUEDA DE LIBROS</h1>
{% endblock %}
{% block libreria %}
<body style="background-image: url('https: //imgur .com/QWus 2Z 9jpg;');">
<h3 style="text-align:center">INGRESE EL AUTOR A BUSCAR</h3>

<form action="{% url 'buscarautor' %}" method="GET"  style="text-align: center">

    <input type="text" name="autor" id="autor">

    <input type="submit" value="buscar">

</form>

<h3 style="text-align:center">INGRESE LIBRO A BUSCAR</h3>

<form action="{% url 'buscarlibro' %}" method="GET"  style="text-align: center">
    
    <input type="text" name="nombre" id="nombre">

    <input type="submit" value="buscar">

</form>

<h3 style="text-align:center">INGRESE EL GENERO A BUSCAR</h3>

<form action="{% url 'buscargenero' %}" method="GET"  style="text-align: center">
   
    <input type="text" name="genero" id="genero">

    <input type="submit" value="buscar">

</form>

</body>
{{ mensaje }}

<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="{% url 'stock_lista' %}"><h6 style="text-align:right;color:black">Listado de Libros</h6></a></li>
</ul>


{% endblock %}