{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">RESEÑA</h1>
{% endblock %}
{% block libreria %}

<p></p>

{% if nombre %}

<ul>
    {% for Empleados in object list %}
        <li>
            <p> Nombre de Libro:{{ Stock.nombre }}</p>
            <p> 
                <a href="{% url 'DetalleStock' stock.id %}"> Ver </a>
                <a href="{% url 'EditarStock' stock.id%}"> Editar</a>
                <a href="{% url 'BorrarStock' stock.id%}"> Borrar</a>
            </p>
        </li>
        
        
    {% endfor %}



</ul>

<p></p>
{% endblock %}